{% extends 'mail.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>
        {% trans %}
            mail.auth.forgot_password.title
        {% endtrans %}
    </h1>
    <p>
        <a href="{{ url }}">
            {% trans %}
                mail.auth.forgot_password.link
            {% endtrans %}
        </a>
    </p>
{% endblock %}